{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/start.css' %}" rel="stylesheet">
    <link href="{% static 'css/nav.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
    <link href="{% static 'css/ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/modal.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock css %}
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>

<body>
    <main>
        <div class="site-container">
            <h1 class="visually-hidden">EngageAI. Онлайн-школа английского языка с использованием AI</h1>
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    {% include 'include/modal.html' %}
    <script src="{% static 'js/script.js' %}"></script>
    {% block script %}
    {% endblock script %}
</body>
{% if messages %}
    <div class="messages" id="django-messages">
        {% for message in messages %}
            <div class="message message_{{ message.tags }}">
                <div class="message__text">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

</html>
